{%extends "layout.html"%}

{%block heading%}
    First Page
{%endblock%}

{%block body%}
    <a href="{{url_for('test')}}">Link</a>

    <ul>
        {% for note in notes %}
            <li>{{ note }}</li>
        {% endfor %}
    </ul>

    <form action="{{ url_for('index') }}" method="post">
        <input type="text" name="note" placeholder="Enter Ticker">
        <button>Submit</button>
    </form>



{%endblock%}