<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website</title>
</head>
<body>
    <h1> {% block heading %}{% endblock %}</h1>
    {% block body %}
    {% endblock %}
</body>
</html>